body{
    background-color: #000000;
}
ul li a:hover {
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white ;
  display: flex;
  justify-content: center;
}
ul li {
  float: left;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none; 
}

ul li a:hover {
  background-color: darkgrey;
  
}

.hello{
    position: fixed;
    height: auto;
    left: 0px;
    width: 90px;
    height: 80px;

}
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
 
  padding: 0px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 10px;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 30px;
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 750px) {
  .prev, .next,.text {font-size: 11px}
}
h1{
    
    text-align: center;
    color: white;
    position: center;
    border-radius: 10px;
    width:700px;
    padding-left: 35%;
    font-size: x-large;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color:white;
    font-size: small;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
body{
    margin:0;
    padding:0;

}
h1{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

div.second{
  opacity: 0.3;
}
header{
    background-color: black;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.img2{
    float: right;
}
.container3{
  display:flex;
  justify-content: space-between;
  width:100;
}
.iframe-row{
  display:flex;S
  width:100px;


.iframe-side{
 flex:1;
 display:flex;
 justify-content: center;


iframe{
  width:45%;
  height:400px;
  border:1px solid #ccc;


}
